<main class="container">
	<h1>angular2-useful-swiper demo</h1>

	<h3>Swiper with pagination and navigation arrows</h3>

	<section class="swiper-container">
		<swiper class="swiper" [config]="config" #usefulSwiper>
			<div class="swiper-wrapper">
				<div *ngFor="let image of images" class="swiper-slide">
					<img [src]="image" alt="image">
                </div>
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </swiper>
    </section>

    <h3>Swiper with navigation thumbnails</h3>

    <section class="swiper-container">
        <swiper class="swiper" [config]="config_gallery" #swiperGallery>
            <div class="swiper-wrapper">
                <div *ngFor="let image of images" class="swiper-slide">
                    <img [src]="image" alt="image" class="slide">
                </div>
            </div>
        </swiper>

        <swiper class="swiper-gallery" [config]="config_thumbs" #swiperThumbs>
            <div class="swiper-wrapper">
                <div *ngFor="let image of images; let i = index" class="swiper-slide">
                    <img [src]="image" alt="image" class="slide" (click)="swiperGallery.swiper.slideTo(i + 1)">
                </div>
            </div>
            <div class="swiper-notification"></div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </swiper>
    </section>
</main>
